main.form-container
    h2.form-container__title
        block title
    form
        .form-container-content
            .form-container__fields
                block fields
            .form-container__buttons
                block buttons