form
    .form-container-content
        .form-container__fields
            | {{email}}
            | {{login}}
            | {{first_name}}
            | {{second_name}}
            | {{display_name}}
            | {{phone}}
            | {{password}}
            | {{oldPassword}}
            | {{newPassword}}
            | {{confirm}}
            | {{title}}
            | {{user_id}}
            .errorText
                span="{{errorTextForm}}"
        .form-container__buttons
            input(type="submit", value="{{submitName}}", class="input-field-submit")
            | {{link}}
