extends ../../layouts/Form/form
include ../../components/InputField/inputField
include ../../components/InputField/inputFieldSubmit

block append title
    span Изменить профиль
block append fields
    +inputField('first_name','Имя','first_name','text','','Иван')
    +inputField('second_name','Фамилия','second_name','text','','Иванов')
    +inputField('display_name','Имя в чате','display_name','text','','Иван')
    +inputField('login','Логин','login','text','','ivanivanov')
    +inputField('email','Почта','email','text','','Иван@main.ru')
    +inputField('phone','Телефон','phone','text','','+7 (909) 967 30 30')
block append buttons
    +inputFieldSubmit('Сохранить')
    a(href="/#profile") Вернуться в профиль