ul.profile-links
    li
        a(href="{{linkChangeProfile}}", class="profile-link")="{{labelLinkChangeProfile}}"
    li
        a(href="{{linkChangePassword}}", class="profile-link")="{{labelLinkChangePassword}}"
    li
        a(href="{{linkExit}}", class="profile-link profile-link-exit")="{{labelLinkExit}}"
