.profile__avatar
    label.avatar.avatar-default
        img(src="https://ya-praktikum.tech/api/v2/resources/a4fa793b-e68e-4543-93cd-519ef6041706/d0635632-9df4-4957-9b17-33c9bd370be2_bobr.jpg")
        input(type="file" name="avatar")
