.user {
  &-item {
    border-top: 1px solid $profileLine;
    position: relative;
    padding: 1rem 5rem 1rem 6.7rem;
    min-height: 5.1rem;
    cursor: pointer;
    &:hover {
      background: #e4edfd;
    }
    p {
      color: #999;
      font-size: 1.2rem;
      line-height: 1.5rem;
      margin: 4px 0 0;
    }
    &__title {
      margin: 0;
      font-size: 1.3rem;
      font-weight: 900;
    }
    &__avatar {
      position: absolute;
      left: 1rem;
      top: 1rem;
      .avatar {
        height: 4.7rem;
        width: 4.7rem;
      }
    }
    &__time {
      position: absolute;
      right: 1rem;
      top: 1rem;
    }
    &__new-message {
      position: absolute;
      right: 1rem;
      bottom: 1rem;
      background: $buttonBg;
      color: #fff;
      min-width: 20px;
      min-height: 20px;
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
.message-list {
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  .sidebar {
    display: flex;
    flex-direction: column;
    max-width: 31rem;
    background: #fbfbfb;
    border-right: 1px solid $profileLine;
    height: 100vh;
    &__header {
      padding: 1rem;
      text-align: right;
      a {
        color: #999;
        font-size: 1.2rem;
        line-height: 1.2rem;
        display: inline-block;
      }
      .search {
        width: 100%;
        text-align: center;
        border: none;
        font-size: 1.2rem;
        padding: 1rem;
        background: #efefef;
        border-radius: 5px;
        margin-top: 2rem;
        &:focus {
          outline: none;
        }
      }
    }
    &__content {
      overflow-y: auto;
    }
  }
  .message {
    &-content {
      &-wrapper {
        display: flex;
        flex: auto;
        justify-content: center;
        & > div {
          width: 100%;
        }
      }
      .empty {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
      }
    }
    &-container {
      position: relative;
      height: 100%;
      width: 100%;
      flex-direction: column;
      justify-content: space-between;
      &__header {
        & > div {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: calc(100% - 2rem);
          margin: 0 auto;
          height: 6.4rem;
          border-bottom: 2px solid $profileLine;
          .settings {
            cursor: pointer;
            margin-right: 2rem;
          }
          .user-item {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0.5rem 0;
            &:hover {
              background: none;
            }
            &__avatar {
              position: static;
              margin-right: 1rem;
            }
          }
        }
      }
      &__list {
        height: calc(100vh - 13.4rem);
        overflow-y: auto;
        display: flex;
        align-items: flex-end;
        width: calc(100% - 2rem);
        margin: 0 auto;
        .dialog {
          margin-top: 2rem;
          &-message {
            margin-bottom: 1rem;
            .position {
              display: inline-block;
              max-width: 40%;
              border-radius: 1rem;
              padding: 11px 11px 20px;
              position: relative;
              .text {
                p {
                  margin: 0;
                  padding: 0;
                }
              }
              .time {
                position: absolute;
                font-size: 0.9rem;
                right: 1.1rem;
                bottom: 0.5rem;
              }
            }
            &-friend {
              .position {
                background: #f8f8f8;
              }
            }
            &-your {
              display: flex;
              justify-content: flex-end;
              .position {
                background: #e4edfd;
              }
            }
          }
          &__day {
            text-align: center;
          }
          &-list {
            width: 100%;
          }
        }
      }
      &__form {
        border-top: 2px solid $profileLine;
        height: 6rem;
        display: flex;
        align-items: center;
        width: calc(100% - 2rem);
        margin: 0 auto;
        .message-form {
          display: flex;
          width: 100%;
          justify-content: space-between;
          &__settings {
            display: flex;
            flex: 1;
          }
          &__input {
            display: flex;
            flex: auto;
            width: 100%;
            border-radius: 30px;
            margin-right: 1rem;
            margin-left: 3rem;
            background: #efefef;
            border: none;
            font-size: 1.2rem;
            padding: 1rem 2rem;
            &:focus {
              outline: none;
            }
          }
          &__btn {
            flex: 1;
            border: none;
            background: $buttonBg;
            max-width: 2.8rem;
            height: 2.8rem;
            border-radius: 2.8rem;
            cursor: pointer;
          }
        }
      }
    }
  }
}
