.modal
    | {{modal}}
.message-list
    .sidebar
        .sidebar__header
            | {{linkProfile}}
            input.search(type="text", placeholder="Поиск")
        .actions
            button="Создать чат"
        .sidebar__content
            | {{userList}}
    .message-content-wrapper
        | {{content}}
