.profile
    .profile__avatar
        .avatar.avatar-default
            img(src="../static/images/default-icon.png")
    h1.profile__title Иван
    ul.profile-info
        li.profile-info__row
            span.label Почта
            span.value pochta@yandex.ru
        li.profile-info__row
            span.label Логин
            span.value ivanivanov
        li.profile-info__row
            span.label Имя
            span.value Иван
        li.profile-info__row
            span.label Фамилия
            span.value Иванов
        li.profile-info__row
            span.label Имя в чате
            span.value Иван
        li.profile-info__row
            span.label Телефон
            span.value +7 (909) 967 30 30
    ul.profile-links
        li
            a(href="/#changeProfile", class="profile-link") Изменить данные
        li
            a(href="/#changePassword", class="profile-link") Изменить пароль
        li
            a(href="/#login", class="profile-link profile-link-exit") Выйти
