.profile
    | {{avatarBlock}}
    h1.profile__title="{{first_name}} {{second_name}}"
    ul.profile-info
        li.profile-info__row
            span.label Почта
            span.value {{email}}
        li.profile-info__row
            span.label Логин
            span.value {{login}}
        li.profile-info__row
            span.label Имя
            span.value {{first_name}}
        li.profile-info__row
            span.label Фамилия
            span.value {{second_name}}
        li.profile-info__row
            span.label Имя в чате
            span.value {{display_name}}
        li.profile-info__row
            span.label Телефон
            span.value {{phone}}
    | {{navigation}}
