$buttonBg: #3369f3;
$buttonColor: #ffffff;
$link: #3369f3;
$labelColor: #999999;
$errorColor: #ff2f2f;
$line: #e2e2e2;
$avatarBg: #efefef;
$friendMessageBg: #f8f8f8;
$myMessageBg: #e4edfd;
$myMessageColor: #ffffff;
$sidebarBg: #fbfbfb;
$formBg: #ffffff;
$formBgShadow: #00000014;
$black: #000000;
