@import "variables";
@import "../pages/Errors/styles";
@import "../layouts/Content/styles";
@import "../components/Form/styles";
@import "../components/Input/styles";
@import "../pages/Profile/styles";
@import "../pages/Chat/styles";
@import "../components/modal/styles";
html {
  font-size: 10px;
}
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 1.3rem;
  color: #1e1e1e;
  font-family: Inter, sans-serif;
}
a {
  text-decoration: none;
  color: $link;
  &:visited {
    color: $link;
  }
}
.error {
  &-text {
    color: $errorColor;
  }
}
.avatar {
  background: $avatarBg;
  width: 13rem;
  height: 13rem;
  cursor: pointer;
  border-radius: 100%;
  &-default {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    img {
      object-fit: cover;
      max-width: 100%;
    }
  }
}
.show {
  display: block;
}
