extends ../../layouts/Form/form
include ../../components/InputField/inputField
include ../../components/InputField/inputFieldSubmit

block append title
    span Регистрация
block append fields
    +inputField('email','Почта','email','text','Ошибка валидации','Иван@')
    +inputField('login','Логин','login','text','','')
    +inputField('first_name','Имя','first_name','text','','')
    +inputField('second_name','Фамилия','second_name','text','','')
    +inputField('phone','Телефон','phone','text','','')
    +inputField('password','Пароль','password','password','','')
    +inputField('confirm','Пароль еще раз','confirm','password','','')
block append buttons
    +inputFieldSubmit('Создать аккаунт')
    a(href="/#login") Войти
