html(lang="en")
    head
        block head
            script(type="module", src="./index.ts")
    body
        .wrapper
            #app
            .page.page-message-list
                include ../../pages/Chat/index
            .page.page-login
                include ../../pages/Login/index
            .page.page-registration
                include ../../pages/Registration/index
            .page.page-profile
                include ../../pages/Profile/index
            .page.page-changePassword
                include ../../pages/ChangePassword/index
            .page.page-changeProfile
                include ../../pages/ChangeProfile/index
            .page.page-404
                include ../../pages/Errors/404
            .page.page-500
                include ../../pages/Errors/500
            block content
